.bush{
 background-color:green;
 width:650px;
 height:400px !important;
 margin: 2%; 
 position: relative;
}
.line{
border:2px solid white;
width: 575px;
height: 325px;
margin: 30px;
left:5px;
top:40px;
position: relative;
}
.box1{
border:2px solid white;
width: 75px;
height:115px;
position:absolute;
border-left: 0px solid white;
left: 0;
top:100px;
}
.box2{
border:2px solid white;
width: 75px;
height:115px;
position:absolute;
border-right: 0px solid white;
right: 0;
top:100px;
}
.barra{
border-right:2px solid white;
height:325px;
bottom:0px;
left:285px;
position: absolute;
}
.circle{
border:2px solid white;
width: 125px;
height:125px;
-moz-border-radius: 50%;
-webkit-border-radius: 50%;
border-radius: 50%;
margin: auto;
margin-top:100px;
}
img{
width:25px;
height:25px;
position: absolute;
}